{% macro pagination_widget(pages, endpoint) %}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% for p in pages %}
        <li class="page-item {{p['class']}}">
            <a href="{{ url_for(endpoint, page = p['href'], **kwargs) }}" class="page-link" aria-label={{p['page']}}>
                <span aria-hidden="true">{{p['page_label'] | safe}}</span>
                <span class="sr-only">{{p['page_label'] | safe}}</span>

            </a>
        </li>
        {% endfor %}
    </ul>
</nav>
{% endmacro %}

{% macro render_pagination(pagination, endpoint) %}
<div class=page-items>
    {{ pagination.first }} - {{ pagination.last }} of {{ pagination.total }}
</div>
<div class=pagination>
    {% for page in pagination.iter_pages() %}
    {% if page %}
    {% if page != pagination.page %}
    <a href="{{ url_for(endpoint, page=page) }}">{{ page }}</a>
    {% else %}
    <strong>{{ page }}</strong>
    {% endif %}
    {% else %}
    <span class=ellipsis>…</span>
    {% endif %}
    {% endfor %}
</div>
{% endmacro %}