{% extends "base.html" %}
{% block title%}Doko - Sign Up{% endblock %}

{% block content%}
<div class="non-game-body sign-up-body">
    <form method="POST" class="create-form">
        <h2 align="center" class="form-title">Sign Up</h2>
        <div class="container tab-site">
            <div class="form-group">
                <label class="form-label" for="email">Email address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
                <label class="form-label" for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
                <label class="form-label" for="password1">Password</label>
                <input type="password" class="form-control" id="password1" name="password1"
                    placeholder="Enter password">
                <label class="form-label" for="password2">Repeat password</label>
                <input type="password" class="form-control" id="password2" name="password2"
                    placeholder="Repeat password">
            </div>
        </div>
        <div class="container align-right create-border-top">
            <button type="submit" class="create-btn btn btn-primary">Sign Up</button>
        </div>
    </form>
</div>
{% endblock %}