// light brown
// $primary: rgba(136, 108, 97, 1);
// $primary_transparent: rgba(136, 108, 97, 0.5);
// $primary_light: rgb(211, 183, 171);
// $primary_light_only_code: d3b7ab; //needed for pasting in url

//rust red
$primary: rgba(117, 41, 36, 1);
$primary_transparent: rgba(117, 41, 36, 0.5);
$primary_light: rgb(201, 96, 89);
$primary_light_only_code: c96059; //needed for pasting in url

$secondary: rgba(45, 111, 92, 1);
$secondary_transparent: rgba(45, 111, 92, 0.5);
$secondary_light: rgb(105, 194, 169);

$main_color_1: rgb(33, 37, 41);